<div class="container">
  <div class="py-4">
    <app-page-title titleOne="Account" titleTwo="Account" titleThree="Account" icon="bi bi-person"></app-page-title>
  </div>
  <div class="row w-100 gap-5">
    <div id="list-example" class="list-group w-25">
      <a class="list-group-item list-group-item-action w-100" href="#list-item-1">Item 1</a>
      <a class="list-group-item list-group-item-action w-100" href="#list-item-2">Item2</a>
      <a class="list-group-item list-group-item-action w-100" href="#list-item-3">Item 3</a>
      <a class="list-group-item list-group-item-action w-100 text-danger" href="#list-item-4">Delete Account</a>
    </div>
    <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example w-100 d-flex flex-column gap-2 col-lg">
      <div class="border border-1 border-secondary rounded-4 w-100 p-3 col">
        <div id="list-item-1">
          <h1>item 1</h1>
        </div>
        <hr>
        <div>
          <p>Bio</p>
          <p>Hi! I'm Michael Johnson, a software engineer from San Francisco, California. I'm passionate about technology,
            design, and startups. I'm currently working at Quantum Dynamics as a front-end developer.</p>
          <p>Email</p>
          <p>michael.johnson#company.com</p>
          <p>Phone</p>
          <p>+1 (234) 567-890</p>
        </div>
      </div>
      <div class="border border-1 border-secondary rounded-4 w-100 p-3">
        <div id="list-item-2">
          <h1>item 1</h1>
        </div>
        <hr>
        <div>
          <p>Bio</p>
          <p>Hi! I'm Michael Johnson, a software engineer from San Francisco, California. I'm passionate about technology,
            design, and startups. I'm currently working at Quantum Dynamics as a front-end developer.</p>
          <p>Email</p>
          <p>michael.johnson#company.com</p>
          <p>Phone</p>
          <p>+1 (234) 567-890</p>
        </div>
      </div>
      <div class="border border-1 border-secondary rounded-4 w-100 p-3">
        <div id="list-item-3">
          <h1>item 1</h1>
        </div>
        <hr>
        <div>
          <p>Bio</p>
          <p>Hi! I'm Michael Johnson, a software engineer from San Francisco, California. I'm passionate about technology,
            design, and startups. I'm currently working at Quantum Dynamics as a front-end developer.</p>
          <p>Email</p>
          <p>michael.johnson#company.com</p>
          <p>Phone</p>
          <p>+1 (234) 567-890</p>
        </div>
      </div>
  
    </div>
  </div>
</div>