<div class="container">
  <div class="py-4">
    <app-page-title titleOne="Account" titleTwo="Account" titleThree="Account" icon="bi bi-person" buttons="true"
      editButton="Edit" deleteButton="Delete"></app-page-title>
  </div>
  <div class="row w-100 gap-5">
    <div id="list-example" class="list-group col col-lg-4">
      <a class="list-group-item list-group-item-action w-100" href="#general">General</a>
      <a class="list-group-item list-group-item-action w-100" href="#billing">Billing</a>
      <a class="list-group-item list-group-item-action w-100" href="#security">Security</a>
      <a class="list-group-item list-group-item-action w-100 text-danger" href="#list-item-4">Delete Account</a>
    </div>
    <div data-spy="scroll" data-target="#list-example" data-offset="0"
      class="scrollspy-example w-100 d-flex flex-column gap-2 col-lg">
      <div class="bg-light rounded-4 w-100 p-3 col">
        <div id="general">
          <div class="d-flex gap-4">
            <div>
              <img width="50px" height="50px" class="mt-2 rounded-circle"
                src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg" alt="">
            </div>
            <div>
              <h4>Michael Johnson</h4>
              <p>Quantum Dynamics</p>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <p>General</p>
          <p>Hi! I'm Michael Johnson, a software engineer from San Francisco, California. I'm passionate about
            technology,
            design, and startups. I'm currently working at Quantum Dynamics as a front-end developer.</p>
          <p>Email</p>
          <p>michael.johnson#company.com</p>
          <p>Phone</p>
          <p>+1 (234) 567-890</p>
        </div>
      </div>
      <div class="bg-light rounded-4 w-100 p-3">
        <div id="billing">
          <h4>Billing</h4>
          <p>Billing information is securely stored with our payment processor and is not accessible to us.</p>
          <div class="bg-body rounded-3 p-3">
            <div class="d-flex justify-content-between">
              <div>
                <i class="bi bi-credit-card-fill"></i>
                <span>
                  **** **** **** 1234 (exp. 12/24)</span>
              </div>
              <span class="" class="bg-danger p-1 rounded-3 text-white">Primary</span>
            </div>
            <hr>
            <div>
              <i class="bi bi-credit-card-fill"></i>
              <span>
                **** **** **** 1234 (exp. 12/24)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-light rounded-4 w-100 p-3">
        <div id="security">
          <div>
            <h4>Billing</h4>
            <p>Billing information is securely stored with our payment processor and is not accessible to us.</p>
            <div class="bg-body rounded-3 p-3">
              <div>
                <i class="bi bi-phone"></i>
                <span>
                  iPhone 15 Seattle, Washington · 2 hours ago</span>
              </div>
              <hr>
              <div>
                <i class="bi bi-laptop"></i>
                <span>
                  San Francisco, California · 1 day ago</span>
              </div>
            </div>
            <button class="btn btn-light border-0 bg-secondary p-3">Sign out from all device</button>
          </div>
        </div>

      </div>
    </div>
  </div>