<div *ngIf="control && control.invalid && (control.dirty || control.touched)">
    <div *ngIf="control.errors?.required" class="text-danger">
        {{'Validations.isRequired' | translate}}
    </div>
    <div *ngIf="control.errors?.minlength" class="text-danger">
        {{'Validations.minLength' | translate: {value: control.errors?.minlength.requiredLength } }}
    </div>
    <div *ngIf="control.errors?.maxlength" class="text-danger">
        {{'Validations.maxLength' | translate: {value : control.errors?.maxlength.requiredLength } }}
    </div>
    <div *ngIf="control.errors?.email" class="text-danger">
        {{'Validations.email' | translate}}
    </div>
    <div *ngIf="control.errors?.pattern" class="text-danger">
        {{'Validations.invalidFormat' | translate}}
    </div>
</div>