<div class="container w-100 d-flex justify-content-center">
    <div>
        <div class="py-4">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                class="fs-4 text-warning me-1 duo-icon duo-icon-box-2" data-duoicon="box-2">
                <path fill="currentColor"
                    d="m20.765 7.982.022.19.007.194v7.268a2.5 2.5 0 0 1-1.099 2.07l-.15.095-6.295 3.634-.124.067-.126.06v-8.99l7.765-4.588Z"
                    class="duoicon-secondary-layer" opacity=".3"></path>
                <path fill="currentColor"
                    d="m13.25 2.567 6.294 3.634c.05.03.1.06.148.092L12 10.838 4.308 6.293a2.81 2.81 0 0 1 .148-.092l6.294-3.634a2.498 2.498 0 0 1 2.5 0Z"
                    class="duoicon-secondary-layer"></path>
                <path fill="currentColor"
                    d="M3.235 7.982 11 12.571v8.988a2.339 2.339 0 0 1-.25-.126l-6.294-3.634a2.502 2.502 0 0 1-1.25-2.165V8.366c0-.13.01-.258.03-.384h-.001Z"
                    class="duoicon-secondary-layer" opacity=".3"></path>
            </svg>
        </div>
        <div>
            <h3 class="fw-bold py-3">Your latest read is here!</h3>
            <p>We’ve just published something new, and we think you’ll love it!
            </p>
            <div>
                <div class="card">
                    <div class="card-header">
                        <app-top-authors
                            image="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-1.jpg"
                            firstName="Emily Thompson" mail="emily.thompson@example.com"></app-top-authors>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0 d-flex flex-column justify-content-center p-3">
                            <h4>Mastering dashboard UX: tips for a seamless user experience </h4>
                            <p>A well-designed dashboard enhances usability and decision-making. Learn key UX
                                p
                            </p>
                            <img class="rounded-2" src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/emails/covers/cover-1.jpg" alt="">
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="py-3">
                <button class="btn btn-primary btn-lg">Read now</button>
            </div>
            <p class="py-4">Stay ahead with the latest insights. Let us know what you think in the comments!
            </p>
            <p class="small">You're receiving this email because you signed up for updates. If you no longer wish to
                <br> receive
                these
                emails, you can unsubscribe here.
            </p>
            <br>
            <p class="py-3 small">© All rights reserved. </p>
        </div>
    </div>
</div>