<ul class="list-group card-body">
    <li class="list-group-item d-flex border-0">
        <div class="d-flex gap-2">
            <div class="d-flex flex-column">
                <span class="p-2 rounded-circle" style="background-color: #E3F2FD">
                    <i class={{icon}} class="text-primary "></i>
                </span>
            </div>
            <div>
                <div class="d-flex gap-2">
                    <h6>{{name}}</h6>
                    <span class="text-muted">{{time}}</span>
                </div>
                <p class="text-muted">{{activity}}</p>
            </div>
        </div>
    </li>
</ul>