<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column">
      <h3>Trends</h3>
    </div>
    <div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-light p-3 rounded-4" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Last Month
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Trading Profits</a></li>
          <li><a class="dropdown-item" href="#">Staking Rewards</a></li>
          <li><a class="dropdown-item" href="#">Mining Income</a></li>
        </ul>
      </li>
    </div>
  </div>

  <nav class="">
    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
      <button class="nav-link active text-dark" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
      <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
      <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
    </div>
    <hr>
  </nav>
  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <app-bar-chart chartId="homeChart" chartHeight="100"></app-bar-chart>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <app-bar-chart chartId="profile" chartHeight="100"></app-bar-chart>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <app-bar-chart chartId="contact" chartHeight="100"></app-bar-chart>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-xl-8 col-lg-8 col-md-12 py-4">
      <app-browse-all title="Support Tickets"></app-browse-all>
      <app-table></app-table>
    </div>
    <div class="col-xl-4 col-md-8">

      <div class="container">
        <div class="d-flex flex-column gap-3 py-4">
          <app-browse-all title="Top Refferes"></app-browse-all>

          <div class="d-flex flex-column gap-3 border border-1 border-card p-3 rounded-4">
            <div class="d-flex justify-content-between">
              <span>Facebook</span>
              <span>50%</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Facebook</span>
              <span>50%</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Facebook</span>
              <span>50%</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Facebook</span>
              <span>50%</span>
            </div>
            <div class="d-flex gap-2">
              <div class="progress">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 4rem;" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top"
                  title="Tooltip on top">
                  20%</div>
              </div>
              <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" style="width:8rem;" aria-valuenow="5"
                  aria-valuemin="0" aria-valuemax="100">75%</div>
              </div>
              <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 5rem;" aria-valuenow="10"
                  aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
              <div class="progress">
                <div class="progress-bar bg-secondary" role="progressbar" style="width: 7rem;" aria-valuenow="10"
                  aria-valuemin="0" aria-valuemax="100">50%</div>
              </div>
            </div>
          </div>
        </div>
        <div>
        </div>
        <div class="py-4 d-flex flex-column gap-3">
          <app-browse-all title="Support Tickets"></app-browse-all>
          <app-accordion title="Login Issues on mobile"
            content="Customer is experiencing issues with the payment gateway. This affects both credit card and PayPal payments."></app-accordion>
        </div>
        <div>
          <app-accordion title="Login Issues on mobile" date="oct 4"
            content="Customer is experiencing issues with the payment gateway. This affects both credit card and PayPal payments."></app-accordion>
        </div>
      </div>
      <div class="d-flex flex-column gap-3 py-3">
        <div class="d-flex justify-content-between">
          <h4>Api usage limits</h4>
        </div>
        <div class="container d-flex flex-column gap-2 bg-light p-3">
          <div class="d-flex justify-content-end">
            <span class="badge bg-warning text-dark w-25">75 % used</span>
          </div>
          <h5>ChatGPT</h5>
          <p>You're approaching your monthly limit.</p>
          <div class="d-flex gap-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
              class="duo-icon duo-icon-alert-octagon" data-duoicon="alert-octagon">
              <path fill="currentColor" fill-rule="evenodd"
                d="M15.314 2a2 2 0 0 1 1.414.586l4.686 4.686A2 2 0 0 1 22 8.686v6.628a2 2 0 0 1-.586 1.414l-4.686 4.686a2 2 0 0 1-1.414.586H8.686a2 2 0 0 1-1.414-.586l-4.686-4.686A2 2 0 0 1 2 15.314V8.686a2 2 0 0 1 .586-1.414l4.686-4.686A2 2 0 0 1 8.686 2h6.628Z"
                class="text-primary" opacity=".3"></path>
              <path fill="currentColor" fill-rule="evenodd"
                d="M12 6a1 1 0 0 0-.993.883L11 7v6a1 1 0 0 0 1.993.117L13 13V7a1 1 0 0 0-1-1Zm0 9a1 1 0 1 0 0 2 1 1 0 0 0 0-2Z"
                class="text-primary"></path>
            </svg>
            <p>25,000 / 30,000 calls used</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>