<div class="container mt-5">

    <app-page-title titleOne="Projects" titleTwo="Projects" titleThree="Projects" icon="bi bi-journal-text text-primary"
        buttons="true" buttonText="+ New Project"></app-page-title>

    <div>
        <app-order-select-filter (statusChange)="onStatusChange($event)" [statuses]="statuses"
            [filterBoxSearchControl]="searchControl" selectedContact="true"></app-order-select-filter>
    </div>
    <div class="mt-5">
        <app-table [defaultTableList]="defaultTableList"></app-table>
        <app-pager></app-pager>
    </div>
</div>