<div class="container">

    <app-page-title titleOne="Projects" titleTwo="Projects" titleThree="Projects" icon="bi bi-journal-text text-primary"
        buttonText="+ New Project"></app-page-title>

    <div class="d-flex justify-content-between mt-5">
        <div class="d-flex gap-2">
            <div>
                <span class="text-muted">3 contacts selected</span>
            </div>
            <div>
                <span class="badge badge-danger bg-danger text-white">Delete</span>
            </div>
        </div>
        <div class="input-group w-25">
            <input class="form-control" id="topnavSearchInput" type="search" placeholder="Search" aria-label="Search"
                aria-describedby="navbarSearch">
            <span class="input-group-text" id="navbarSearch">
                <i class="bi bi-search"></i>
            </span>
        </div>
    </div>
    <div class="mt-5">
        <app-table></app-table>
        <div class="d-flex justify-content-between">
            <div>
                <p>1 – 10 (2550 total)</p>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>