<div class="container">

    <app-page-title titleOne="Projects" titleTwo="Projects" titleThree="Projects" icon="bi bi-journal-text text-primary"
        buttons="true" buttonText="+ New Project"></app-page-title>

    <div>
        <app-order-select-filter selectedContact="true"></app-order-select-filter>
    </div>
    <div class="mt-5">
        <app-table></app-table>
        <div class="d-flex justify-content-between">
            <div>
                <p>1 – 10 (2550 total)</p>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>