<div class="mb-4">
    <div class="card border-0">
        <div class="card-body p-0">
            <h3 class="card-title">Basic</h3>
            <p>For small and medium sized businesses.</p>
            <div class="d-flex align-items-center gap-2 py-3">
                <h1 class="card-price">0$</h1>
                <span class="text-muted">/ Month</span>
            </div>
        </div>
        <ul class="p-0">
            <li>
                <div class="d-flex justify-content-between">
                    <span class="text-muted py-2">1 user</span>
                    <i class="bi bi-check text-success"></i>
                </div>
            </li>
            <hr>
            <li>
                <div class="d-flex justify-content-between">
                    <span class="text-muted py-2">1er</span>
                    <i class="bi bi-check text-success"></i>
                </div>
            </li>
            <hr>
            <li>
                <div class="d-flex justify-content-between">
                    <span class="text-muted py-2">1 user</span>
                    <i class="bi bi-check text-success"></i>
                </div>
            </li>
            <hr>
            <li>
                <div class="d-flex justify-content-between">
                    <span class="text-muted py-2">1 user</span>
                    <i class="bi bi-check text-success"></i>
                </div>
            </li>
        </ul>
        <div class="d-flex justify-content-center align-items-center py-3">
            <button class="btn btn-warning w-100 py-2">Get Started</button>
        </div>
    </div>
</div>