<div class="mb-4">
    <div class="card border-0 bg-light p-3">
        <div class="card-body p-0">
            <h3 class="card-title">{{title}}</h3>
            <p>{{desc}}</p>
            <div class="d-flex align-items-center gap-2 py-3">
                <h1 class="card-price">{{price}}</h1>
                <span class="text-muted">/ {{date}}</span>
            </div>
        </div>
        <ul class="p-0">

            <li>
                <div class="d-flex justify-content-between">
                    <span class="text-muted py-2">{{list}}</span>
                    <i class="bi bi-check text-success"></i>
                </div>
            </li>

            <li>
                <div class="d-flex justify-content-between">
                    <span class="text-muted py-2">{{list}}</span>
                    <i class="bi bi-check text-success"></i>
                </div>
            </li>

            <li>
                <div class="d-flex justify-content-between">
                    <span class="text-muted py-2">{{list3}}</span>
                    <i class="bi bi-check text-danger"></i>
                </div>
            </li>

            <li>
                <div class="d-flex justify-content-between">
                    <span class="text-muted py-2">{{list4}}</span>
                    <i class="bi bi-check text-success"></i>
                </div>
            </li>
        </ul>
        <div class="d-flex justify-content-center align-items-center py-3">
            <button class="btn btn-warning w-100 py-2">{{buttonText}}</button>
        </div>
    </div>
</div>