<div class="container" style="height: 700px;">
    <app-go-back></app-go-back>
    <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
        <div>
            <div class="text-center">
                <h1>{{'Account.Signup' | translate}}</h1>
                <p>Access our dashboard and start tracking your tasks.</p>
            </div>
            <form class="d-flex flex-column gap-3" [formGroup]="validationForm">
                <div class="form-group">
                    <input name="mail" formControlName="mail" type="text"
                        class="form-control form-control-lg bg-light border-0 w-100"
                        placeholder="{{'Input.EmailAdress' | translate}}" id="mail" aria-describedby="mail">
                </div>
                <app-validation-error-message [control]="validationForm.get('mail')"></app-validation-error-message>
                <button class="border-0 bg-warning p-2 rounded-3">{{'Account.Signup'
                    | translate}}</button>
            </form>
            <div class="py-3 text-center">
                <span class="text-muted">{{'Account.AlreadyHaveAccount' | translate}} <span class="text-primary"
                        (click)="navigateToSignIn()">{{'Account.Signin' | translate}}</span></span>
            </div>
        </div>
    </div>
</div>