<div *ngIf="showNavbar">
  <nav class="navbar navbar-expand-lg bg-body-white">
    <div class="container">
      <div class="d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          class="fs-4 text-warning me-1 duo-icon duo-icon-box-2" data-duoicon="box-2">
          <path fill="currentColor"
            d="m20.765 7.982.022.19.007.194v7.268a2.5 2.5 0 0 1-1.099 2.07l-.15.095-6.295 3.634-.124.067-.126.06v-8.99l7.765-4.588Z"
            class="duoicon-secondary-layer" opacity=".3"></path>
          <path fill="currentColor"
            d="m13.25 2.567 6.294 3.634c.05.03.1.06.148.092L12 10.838 4.308 6.293a2.81 2.81 0 0 1 .148-.092l6.294-3.634a2.498 2.498 0 0 1 2.5 0Z"
            class="duoicon-secondary-layer"></path>
          <path fill="currentColor"
            d="M3.235 7.982 11 12.571v8.988a2.339 2.339 0 0 1-.25-.126l-6.294-3.634a2.502 2.502 0 0 1-1.25-2.165V8.366c0-.13.01-.258.03-.384h-.001Z"
            class="duoicon-secondary-layer" opacity=".3"></path>
        </svg>
        <a class="navbar-brand h1 mt-2" routerLink="/">Dashbrd</a>
      </div>
      <div class="d-flex gap-3">


        <div class="col col-lg-2  d-lg-none d-xl-none">
          <div class="d-flex bg-body">
            <li class="nav-item dropdown">
              <div class="d-flex align-items-center gap-2">
                <div>
                  <img width="30px" height="30px" class="rounded-circle"
                    src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg" alt="">
                </div>
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  John Williams
                </a>
                <ul class="dropdown-menu border-0 shadow w-100">
                  <li><a class="dropdown-item" href="#">Account</a></li>
                  <li><a class="dropdown-item" href="#">Change Password</a></li>
                  <hr>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
            </li>
          </div>
        </div>




        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse gap-5 px-5" id="navbarNavDropdown">

        <div class="col col-md-12 col-sm-12 col-12 d-lg-none d-xl-none d-sm-block d-xs-block mb-5">
          <div class="input-group ">
            <input class="form-control form-control-lg border-0 bg-light" id="topnavSearchInput" type="search"
              placeholder="Search" aria-label="Search" aria-describedby="navbarSearch">
            <span class="input-group-text border-0" id="navbarSearch">
              <kbd class="badge bg-body-secondary text-body">⌘</kbd>
              <kbd class="badge bg-body-secondary text-body ms-1">K</kbd>
            </span>
          </div>
        </div>



        <ul class="navbar-nav gap-3">
          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dashboards
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="dashboard/default">Default</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="dashboard/crypto">Crypto</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="dashboard/saas">Saas</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Customers
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="customer/customers">Customers</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="customer/customer-detail">Customer
                  details</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="customer/new-customer">New
                  customer</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="project/projects">Proejects</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="project/project-overview">Project
                  overview</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="project/new-project">New
                  project</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="account/account-overview">Account
                  overview</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="account/account-setting">Account
                  settings</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Orders
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="order/order">Orders</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="order/invoice">Invoice</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="order/pricing">Pricing</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Posts
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="post/categories">Categories</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="post/post">Posts</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="post/new-post">New post</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Authentication
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="authentication/sign-in">Sign in</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item" routerLink="authentication/sign-up">Sign up</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item"
                  routerLink="authentication/password-reset">Password reset</a></li>

            </ul>
          </li>
        </ul>
        <hr>
        <!--LG BLOCK-->
        <div class="d-lg-block d-xl-block d-none d-sm-none d-xs-none d-md-none">
          <div class="d-flex gap-4 px-3">
            <div>
              <i class="bi bi-bag-dash-fill text-secondary"></i>
            </div>
            <div>

              <li class="nav-item dropdown">
                <button class="nav-link border-0 bg-body bi bi-gear-fill" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu border-0 shadow">
                  <div class="p-2"><small class="text-muted">Color mode</small></div>
                  <li>
                    <a class="dropdown-item">
                      <span>Light</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item">
                      <span>Dark</span>
                    </a>
                  </li>
                  <hr>
                  <li>
                    <a class="dropdown-item">
                      <span (click)="switchLanguage('ge')">Georgian</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item">
                      <span (click)="switchLanguage('en')">English</span>
                    </a>
                  </li>
                </ul>
              </li>
            </div>
            <div>
              <i class="bi bi-at"></i>
            </div>
          </div>
        </div>


        <!--SM BLOCK-->

        <div class="d-lg-none d-xl-none">
          <div class="d-flex flex-column gap-4">
            <div class="d-flex gap-2">
              <i class="bi bi-bag-dash-fill text-secondary"></i>
              <span>Go to product page</span>
            </div>
            <div>

              <li class="nav-item dropdown">
                <button class="nav-link border-0 bg-body bi bi-gear-fill" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <span> Settings</span>
                </button>
                <ul class="dropdown-menu border-0 shadow">
                  <div class="p-2"><small class="text-muted">Color mode</small></div>
                  <li>
                    <a class="dropdown-item">
                      <span>Light</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item">
                      <span>Dark</span>
                    </a>
                  </li>
                </ul>
              </li>
            </div>
            <div class="d-flex gap-2">
              <i class="bi bi-at"></i>
              <p>Contact us</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </nav>
  <app-search-form></app-search-form>
</div>