<div *ngIf="showNavbar">
  <nav class="navbar navbar-expand-xl bg-body-white">
    <div class="container">
      <div class="col d-flex align-items-center" (click)="navigateToDefault()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          class="fs-4 text-warning me-1 duo-icon duo-icon-box-2" data-duoicon="box-2">
          <path fill="currentColor"
            d="m20.765 7.982.022.19.007.194v7.268a2.5 2.5 0 0 1-1.099 2.07l-.15.095-6.295 3.634-.124.067-.126.06v-8.99l7.765-4.588Z"
            class="duoicon-secondary-layer" opacity=".3"></path>
          <path fill="currentColor"
            d="m13.25 2.567 6.294 3.634c.05.03.1.06.148.092L12 10.838 4.308 6.293a2.81 2.81 0 0 1 .148-.092l6.294-3.634a2.498 2.498 0 0 1 2.5 0Z"
            class="duoicon-secondary-layer"></path>
          <path fill="currentColor"
            d="M3.235 7.982 11 12.571v8.988a2.339 2.339 0 0 1-.25-.126l-6.294-3.634a2.502 2.502 0 0 1-1.25-2.165V8.366c0-.13.01-.258.03-.384h-.001Z"
            class="duoicon-secondary-layer" opacity=".3"></path>
        </svg>
        <a role="button" class="navbar-brand h1 mt-2">Dashbrd</a>
      </div>
      <div class="d-flex gap-3">


        <div class="col d-lg-block d-xl-none">

          <div class="d-flex align-items-center gap-2">
            <div class="dropdown">
              <span
                class="btn btn-link d-inline-flex align-items-center dropdown-toggle text-black text-decoration-none"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="avatar avatar-sm me-3">
                  <img class="avatar-img rounded-circle" width="40px" height="40px"
                    src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg" alt="...">
                </span>
              </span>
              <ul class="dropdown-menu dropdown-menu-end border-0 p-1 shadow">
                <li><a class="dropdown-item p-2" role="button">{{'Account.account'| translate}}</a></li>
                <li><a class="dropdown-item p-2" role="button">{{'Account.changePassword'| translate}}</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item p-2" role="button">{{'Account.signout'| translate}}</a></li>
              </ul>
            </div>

            <div class="d-flex gap-2 align-items-center">
              <div>
                <div class="vr"></div>
              </div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-light position-relative" type="button" id="notificationDropdown"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-bell-fill"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-warning">
                      <span class="visually-hidden">unread messages</span>
                    </span>
                  </button>

                  <ul class="dropdown-menu dropdown-menu-end border-0 shadow px-2" style="width: 320px;"
                    aria-labelledby="notificationDropdown">
                    <div class="d-flex justify-content-between w-100 p-2 align-items-center">
                      <div>
                        <small class="text-muted">Notifications</small>
                      </div>
                      <div class="d-flex">
                        <div>
                          <small role="button" class="btn btn-light btn-sm">Mark all as read</small>
                        </div>
                        <div>
                          <i class="bi bi-gear-fill small btn btn-light btn-sm" role="button"></i>
                        </div>
                      </div>
                    </div>

                    <div>
                      <div class="d-flex gap-2">
                        <div class="py-2">
                          <img width="40px" height="40px"
                            src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-1.jpg"
                            class="rounded-circle" alt="">
                        </div>
                        <div class="d-flex flex-column">
                          <div>
                            <span class="fw-semibold">Emily T . <span class="fw-normal small">Commented on your
                                post</span></span>
                          </div>
                          <div>
                            <small class="text-muted">5 minutes ago</small>
                          </div>
                          <div class="border p-2 rounded-3">
                            <span>Love the new dashboard layout! Super clean and easy to navigate 🔥</span>
                          </div>
                        </div>
                      </div>

                      <div class="d-flex gap-2">
                        <div class="py-2">
                          <img width="40px" height="40px"
                            src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg"
                            class="rounded-circle" alt="">
                        </div>
                        <div class="d-flex flex-column">
                          <div>
                            <span class="fw-semibold">Michael J . <span class="fw-normal small">requested changes on
                                your
                                post</span></span>
                          </div>
                          <div>
                            <small class="text-muted">10 minutes ago</small>
                          </div>
                          <div class="border p-2 rounded-3">
                            <span>Could you update the revenue chart with the latest data? Thanks!</span>
                            <p class="">
                              <span>
                                <button class="border-0 btn btn-light rounded-3 btn-sm p-2">Update now</button>
                                <button class="border-0 btn btn-white btn-sm rounded-3 p-2">Dismiss</button>
                              </span>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div>
                      <hr>
                    </div>
                    <div class="d-flex">
                      <div class="py-2">
                        <i class="bi bi-exclamation-circle-fill bg-light p-3 rounded-circle"></i>
                      </div>
                      <div class="d-flex flex-column">
                        <div>
                          <span class="fw-bold">System alert - <span class="fw-normal">Build failed</span></span>
                        </div>
                        <div>
                          <small class="text-muted">1 hour ago</small>
                        </div>
                      </div>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse gap-2 px-5" id="navbarNavDropdown">

        <div class="col col-md-12 col-sm-12 col-12 d-lg-block d-xl-none d-sm-block d-xs-block mb-5">
          <div class="input-group mt-4">
            <input class="form-control form-control-md border-0 bg-light p-2" id="topnavSearchInput" type="search"
              placeholder="Search" aria-label="Search" aria-describedby="navbarSearch">
            <span class="input-group-text border-0" id="navbarSearch">
              <i class="bi bi-search"></i>
            </span>
          </div>
        </div>

        <ul class="navbar-nav col-10">


          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="small p-1">Dashboards</span>
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2" routerLink="dashboard/default">Default</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2" routerLink="dashboard/crypto">Crypto</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2" routerLink="dashboard/saas">Saas</a></li>
            </ul>
          </li>


          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside"
              aria-expanded="true">
              Pages
            </a>
            <ul class="dropdown-menu border-0 shadow p-1" style="width: 180px" data-bs-popper="static">
              <li class="dropend">
                <a class="dropdown-item d-flex justify-content-between p-2 w-100 text-muted" role="button"
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  Customers
                  <i class="bi bi-chevron-right small"></i>
                </a>
                <ul class="dropdown-menu border-0 shadow p-1">
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="customer/customers">Customers</a>
                  </li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="customer/customer-detail">Customer
                      details</a></li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="customer/new-customer">New
                      customer</a></li>
                </ul>
              </li>


              <li class="dropend">
                <a class="dropdown-item d-flex justify-content-between p-2 w-100 text-muted" role="button"
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  Projects
                  <i class="bi bi-chevron-right small"></i>
                </a>
                <ul class="dropdown-menu border-0 shadow p-1">
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="project/projects">Proejects</a>
                  </li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="project/project-overview">Project
                      overview</a></li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="project/new-project">New
                      project</a></li>
                </ul>
              </li>


              <li class="dropend">
                <a class="dropdown-item d-flex justify-content-between p-2 w-100 text-muted" role="button"
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  Account
                  <i class="bi bi-chevron-right small"></i>
                </a>
                <ul class="dropdown-menu border-0 shadow p-1">
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="account/account-overview">Account
                      overview</a></li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="account/account-setting">Account
                      settings</a></li>
                </ul>
              </li>

              <li class="dropend">
                <a class="dropdown-item d-flex justify-content-between p-2 w-100 text-muted" role="button"
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  E-commerce
                  <i class="bi bi-chevron-right small"></i>
                </a>
                <ul class="dropdown-menu p-1">
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="e-commerce/products">
                      Products</a></li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2  text-muted"
                      routerLink="e-commerce/orders">
                      Orders</a></li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="e-commerce/invoice">
                      Invoice</a></li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="e-commerce/pricing">
                      Pricing</a></li>
                </ul>
              </li>


              <li class="dropend">
                <a class="dropdown-item d-flex justify-content-between p-2 w-100 text-muted" role="button"
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  Posts
                  <i class="bi bi-chevron-right small"></i>
                </a>
                <ul class="dropdown-menu p-1">
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="post/categories">Categories</a>
                  </li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="post/post">Posts</a></li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="post/new-post">New post</a>
                  </li>
                </ul>
              </li>

              <li class="dropend">
                <a class="dropdown-item d-flex justify-content-between p-2 w-100 text-muted" role="button"
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <span class="">Authentication</span>
                  <i class="bi bi-chevron-right small"></i>
                </a>
                <ul class="dropdown-menu p-1">
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="authentication/sign-in">Sign
                      in</a>
                  </li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="authentication/sign-up">Sign
                      up</a>
                  </li>
                  <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                      routerLink="authentication/password-reset">Password
                      reset</a>
                  </li>
                </ul>
              </li>

              <li class="dropend">
                <a class="dropdown-item d-flex justify-content-between p-2 w-100 text-muted" role="button"
                  data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  Misc
                  <i class="bi bi-chevron-right small"></i>
                </a>
                <ul class="dropdown-menu p-1">
                  <li class="dropdown-item p-2 text-muted" role="button" routerLink="misc/calendar">Calendar</li>
                </ul>
              </li>


            </ul>
          </div>

          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="small p-1 text-muted">Emails</span>
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                  routerLink="emails/account-confirmation" target="_blank">Account
                  confirmation</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted" routerLink="emails/new-post"
                  target="_blank">New post</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                  routerLink="emails/order-confirmation" target="_blank">Order
                  confirmation</a></li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                  routerLink="emails/password-reset" target="_blank">Password
                  reset</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted"
                  routerLink="emails/product-update" target="_blank">Product
                  update</a>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown" [routerLinkActive]="'active'">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="small p-1 text-muted">Modals</span>
            </a>
            <ul class="dropdown-menu border-0 shadow p-1">
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted" role="button"
                  data-bs-toggle="offcanvas" data-bs-target="#product">Product</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted" role="button"
                  data-bs-toggle="offcanvas" data-bs-target="#order">Order</a>
              </li>
              <li [routerLinkActive]="'active'"><a class="dropdown-item p-2 text-muted" role="button"
                  (click)="openModal()">Event</a>
              </li>

            </ul>
          </li>
        </ul>
        <hr>


        <!--LG BLOCK-->


        <div class="d-lg-block d-xl-block d-none d-sm-none d-xs-none d-md-none">
          <div class="d-flex gap-4 px-3">
            <div>
              <i class="bi bi-bag-dash-fill text-secondary" role="button"></i>
            </div>
            <div>
              <li class="nav-item dropdown" style="list-style-type: none;">
                <button class="nav-link border-0 bg-body bi bi-gear-fill" href="#" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                </button>
                <ul class="dropdown-menu border-0 shadow">
                  <li>
                    <a class="dropdown-item">
                      <span (click)="switchLanguage('ge')" role="button">{{'Country.Georgian' | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item">
                      <span (click)="switchLanguage('en')" role="button">{{'Country.English' | translate}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </div>
            <div>
              <i class="bi bi-at" role="button"></i>
            </div>
          </div>
        </div>


        <!--SM BLOCK-->

        <div class="d-lg-none d-xl-none">
          <div class="d-flex flex-column gap-4">
            <div class="d-flex gap-2" role="button">
              <i class="bi bi-bag-dash-fill text-secondary"></i>
              <span>Go to product page</span>
            </div>
            <div>

              <li class="nav-item dropdown" style="list-style-type: none;">
                <button class="nav-link border-0 bg-body bi bi-gear-fill" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <span> Settings</span>
                </button>
                <ul class="dropdown-menu border-0 shadow">
                  <li>
                    <a class="dropdown-item">
                      <span (click)="switchLanguage('ge')" role="button">{{'Country.Georgian' | translate}}</span>
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item">
                      <span (click)="switchLanguage('en')" role="button">{{'Country.English' | translate}}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </div>
            <div class="d-flex gap-2" role="button">
              <i class="bi bi-at"></i>
              <p>Contact us</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <app-search-form></app-search-form>
  <app-event [title]="'New event'" [show]="isModalOpen" (close)="closeModal()">
  </app-event>


  <app-product modalId="product">

    <div>
      <div>
        <p>
          Experience unparalleled audio quality with our Noise-Canceling Earbuds, designed to block out unwanted noise
          and
          immerse you in pure sound. Featuring advanced active noise cancellation (ANC), these earbuds reduce ambient
          distractions, letting you focus on your music, calls, or podcasts with crystal-clear clarity.
        </p>
      </div>
      <hr>
      <div>
        <h6>Details</h6>
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><span class="text-muted">Availability</span>
              </td>
              <td class="text-end">
                <app-status status="In Stock"></app-status>
              </td>
            </tr>
            <tr>
              <td><span class="text-muted">Shipping</span></td>
              <td class="text-end">Worldwide</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div>
        <div class="d-flex justify-content-between w-100 align-items-center">
          <h6>Reviews</h6>
          <small class="text-muted">3 reviews</small>
        </div>
      </div>
      <div class="d-flex flex-column gap-3">
        <app-user-comment [rating]="true" [userRating]="5"></app-user-comment>
        <app-user-comment [rating]="true" [userRating]="2"></app-user-comment>
        <app-user-comment [rating]="true" [userRating]="3"></app-user-comment>

      </div>
    </div>

  </app-product>


  <app-order modalId="order" title="Order #3456">
    <div>
      <h6>Items</h6>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center gap-2"><img style="width: 50px; height: 50px;"
                  src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/emails/products/vr-headset.jpg" alt="">
                <span>VR headset</span>
              </div>
            </td>
            <td class="text-end">#1 × $399.99
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center gap-2"><img style="width: 50px; height: 50px;"
                  src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/emails/products/smart-watch.jpg" alt="">
                <span>Smart watch</span>
              </div>
            </td>
            <td class="text-end">#1 × $399.99
            </td>
          </tr>
          <tr>
            <td>
              <h6>Total</h6>
            </td>
            <td class="text-end">
              <h6>$549.98
              </h6>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h6>Details</h6>

      <table class="table table-borderless">
        <tbody>
          <tr>
            <td><span class="text-muted">Date created</span>
            </td>
            <td class="text-end">2021-08-12
            </td>
          </tr>
          <tr>
            <td><span class="text-muted">Customer</span>
            </td>
            <td class="text-end">Guest
            </td>
          </tr>
          <tr>
            <td><span class="text-muted">Status</span>
            </td>
            <td class="text-end">
              <app-status status="Completed"></app-status>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>

    <div>
      <h6>Notes</h6>
      <div class="d-flex flex-column gap-3">
        <div class="card bg-body-tertiary border-0 mb-0">
          <div class="card-body p-4">
            <small class="text-body-secondary">10:15 AM</small>
            <p class="mb-0">Order placed successfully and is now being processed.</p>
          </div>
        </div>

        <div class="card bg-body-tertiary border-0 mb-0">
          <div class="card-body p-4">
            <small class="text-body-secondary">2:30 PM</small>
            <p class="mb-0">Order has been shipped and is on its way to the destination.</p>
          </div>
        </div>

        <div class="card bg-body-tertiary border-0 mb-0">
          <div class="card-body p-4">
            <small class="text-body-secondary">6:45 PM</small>
            <p class="mb-0">Order delivered successfully to the customer.</p>
          </div>
        </div>
      </div>
    </div>
  </app-order>
</div>