<div class="container w-100">
  <div class="row align-items-center justify-content-between">



    <div class="col col-lg-4 col-md-5 col-sm-12 col-12 d-sm-none d-none d-lg-none d-xl-block">
      <div class="input-group ">
        <input class="form-control form-control-md border-0 bg-light p-2" id="topnavSearchInput" type="search"
          placeholder="Search" aria-label="Search" aria-describedby="navbarSearch">
        <span class="input-group-text border-0" id="navbarSearch">
          <kbd class="badge bg-body-secondary text-body">⌘</kbd>
          <kbd class="badge bg-body-secondary text-body ms-1">K</kbd>
        </span>
      </div>
    </div>




    <div class="col col-lg-2 col-md-3 d-none d-lg-none d-xl-block d-sm-none d-md-none">
      <div class="d-flex gap-3 p-2 align-items-center bg-body">
        <li class="nav-item dropdown">
          <div class="d-flex gap-2">
            <div>
              <img width="50px" height="50px" class="rounded-circle"
                src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg" alt="">
            </div>
            <a class="nav-link dropdown-toggle mt-3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              John Williams
            </a>
            <ul class="dropdown-menu border-0 shadow mt-5 w-100">
              <li><a class="dropdown-item" href="#">Account</a></li>
              <li><a class="dropdown-item" href="#">Change Password</a></li>
              <hr>
              <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
          </div>
        </li>
      </div>
    </div>




  </div>
</div>