<div class="container w-100">
  <div class="row align-items-center justify-content-between">



    <div class="col col-lg-4 col-md-5 col-sm-12 col-12 d-sm-none d-none d-lg-none d-xl-block">
      <div class="input-group ">
        <input class="form-control form-control-md border-0 bg-light p-2" id="topnavSearchInput" type="search"
          placeholder="Search" aria-label="Search" aria-describedby="navbarSearch">
        <span class="input-group-text border-0" id="navbarSearch">
          <kbd class="badge bg-body-secondary text-body">⌘</kbd>
          <kbd class="badge bg-body-secondary text-body ms-1">K</kbd>
        </span>
      </div>
    </div>




    <div class="col col-lg-2 col-md-3 d-none d-lg-none d-xl-block d-sm-none d-md-none" style="margin-right: 50px;">

      <div class="d-flex align-items-center">
        <div class="dropdown">
          <span class="btn btn-link d-inline-flex align-items-center dropdown-toggle text-black text-decoration-none"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="avatar avatar-sm me-3 ">
              <img class="avatar-img rounded-circle" width="40px" height="40px"
                src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg" alt="...">
            </span>
            <span class="text-black">John Williams</span>
          </span>
          <ul class="dropdown-menu dropdown-menu-end border-0 shadow p-1">
            <li><a class="dropdown-item p-2" role="button">{{'Account.account'| translate}}</a></li>
            <li><a class="dropdown-item p-2" role="button">{{'Account.changePassword'| translate}}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item p-2" role="button">{{'Account.signout'| translate}}</a></li>
          </ul>
        </div>


        <div class="d-flex align-items-center gap-2">
          <div>
            <div class="vr"></div>
          </div>
          <div>
            <div class="dropdown">
              <button class="btn btn-light position-relative" type="button" id="notificationDropdown"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-bell-fill"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-warning">
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>

              <ul class="dropdown-menu dropdown-menu-end border-0 shadow px-2" style="width: 320px;"
                aria-labelledby="notificationDropdown">
                <div class="d-flex justify-content-between w-100 p-2 align-items-center px-0">
                  <div>
                    <small class="text-muted">Notifications</small>
                  </div>
                  <div class="d-flex">
                    <div>
                      <small role="button" class="btn btn-light btn-sm">Mark all as read</small>
                    </div>
                    <div>
                      <i class="bi bi-gear-fill small btn btn-light btn-sm" role="button"></i>
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-column gap-4">
                  <div class="d-flex gap-2">
                    <div class="py-2">
                      <img width="40px" height="40px"
                        src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-1.jpg"
                        class="rounded-circle" alt="">
                    </div>
                    <div class="d-flex flex-column">
                      <div>
                        <span class="fw-semibold">Emily T . <span class="fw-normal small">Commented on your
                            post</span></span>
                      </div>
                      <div class="py-2">
                        <small class="text-muted">5 minutes ago</small>
                      </div>
                      <div class="border p-2 rounded-3">
                        <span>Love the new dashboard layout! Super clean and easy to navigate 🔥</span>
                      </div>
                    </div>
                  </div>


                  <div class="d-flex gap-2">
                    <div class="py-2">
                      <img width="40px" height="40px"
                        src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg"
                        class="rounded-circle" alt="">
                    </div>
                    <div class="d-flex flex-column">
                      <div>
                        <span class="fw-semibold">Michael J . <span class="fw-normal small">requested changes on your
                            post</span></span>
                      </div>
                      <div class="py-2">
                        <small class="text-muted">10 minutes ago</small>
                      </div>
                      <div class="border p-2 rounded-3">
                        <span>Could you update the revenue chart with the latest data? Thanks!</span>
                        <p class="">
                          <span>
                            <button class="border-0 btn btn-light rounded-3 btn-sm p-2">Update now</button>
                            <button class="border-0 btn btn-white btn-sm rounded-3 p-2">Dismiss</button>
                          </span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>


                <div>
                  <hr>
                </div>
                <div class="d-flex">
                  <div class="py-2">
                    <i class="bi bi-exclamation-circle-fill bg-light p-3 rounded-circle"></i>
                  </div>
                  <div class="d-flex flex-column">
                    <div>
                      <span class="fw-bold">System alert - <span class="fw-normal">Build failed</span></span>
                    </div>
                    <div>
                      <small class="text-muted">1 hour ago</small>
                    </div>
                  </div>
                </div>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>