<div class="container w-100">
  <div class="row align-items-center justify-content-between">



    <div class="col col-lg-4 col-md-5 col-sm-12 col-12 d-sm-none d-none d-lg-none d-xl-block">
      <div class="input-group ">
        <input class="form-control form-control-md border-0 bg-light p-2" id="topnavSearchInput" type="search"
          placeholder="Search" aria-label="Search" aria-describedby="navbarSearch">
        <span class="input-group-text border-0" id="navbarSearch">
          <kbd class="badge bg-body-secondary text-body">⌘</kbd>
          <kbd class="badge bg-body-secondary text-body ms-1">K</kbd>
        </span>
      </div>
    </div>




    <div class="col col-lg-2 col-md-3 d-none d-lg-none d-xl-block d-sm-none d-md-none">

      <div class="d-flex align-items-center">
        <div class="dropdown">
          <span class="btn btn-link d-inline-flex align-items-center dropdown-toggle text-black text-decoration-none"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="avatar avatar-sm me-3 ">
              <img class="avatar-img rounded-circle" width="40px" height="40px"
                src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg" alt="...">
            </span>
            <span class="text-black">John Williams</span>
          </span>
          <ul class="dropdown-menu dropdown-menu-end border-0 shadow p-1">
            <li><a class="dropdown-item p-2" role="button">{{'Account.account'| translate}}</a></li>
            <li><a class="dropdown-item p-2" role="button">{{'Account.changePassword'| translate}}</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item p-2" role="button">{{'Account.signout'| translate}}</a></li>
          </ul>
        </div>


        <div class="d-flex gap-2">
          <div>
            <div class="vr"></div>
          </div>
          <div>
            <i class="bi bi-bell-fill"></i>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>