<div class="offcanvas offcanvas-end rounded-3 m-3" tabindex="-1" [id]="modalId" aria-labelledby="offcanvasRightLabel"
  style="width: 470px;">
  <div class="offcanvas-header">
    <div class="d-flex w-100">
      <div>
        <img width="60px" height="60px"
          src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/products/earbuds.jpg" alt="">
      </div>
      <div class="d-flex flex-column w-100 px-2">
        <div class="w-100 d-flex justify-content-between text-muted">
          <small>Audio</small>
          <span>$129.99</span>
        </div>
        <div class="w-50">
          <h5>Noise-Canceling Earbuds
          </h5>
        </div>
      </div>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
  </div>
  <div class="offcanvas-body">
    <ng-content></ng-content>
  </div>
</div>