<div class="container">
    <app-page-title titleOne="Customers" titleTwo="Customers" titleThree="Customers" buttonText="+ New Customer"
        icon="bi bi-person text-primary"></app-page-title>




    <div class="w-100 row mt-5 bg-light p-3 gap-3">
        <div class="col col-lg-8 col-md-7 col-sm-12 col-12">
            <div class="d-flex gap-2">
                <div>
                    <span>3 contacts selected</span>
                </div>
                <div>
                    <span class="badge badge-danger text-white bg-danger">Danger</span>
                </div>
            </div>
        </div>
        

        <div class="input-group col">
            <input class="form-control" id="topnavSearchInput" type="search" placeholder="Search" aria-label="Search"
                aria-describedby="navbarSearch">
            <span class="input-group-text" id="navbarSearch">
                <i class="bi bi-search"></i>
            </span>

            
            <div class="d-flex gap-2 mx-2">
                <div class="dropdown">
                    <button class="bi bi-filter bg-light p-2 border-0 " type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown border-0 shadow" aria-expanded="false"></button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>

                


                <div class="dropdown">
                    <button class="bi bi-sort-alpha-down bg-light p-2 border-0 " type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false"></button>
                    <div class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>


            </div>

        </div>

    </div>



    <div class="mt-5">
        <app-table></app-table>
        <div class="d-flex justify-content-between">
            <div>
                <p>1 – 10 (2550 total)</p>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link active" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>