<div class="container">
    <div class="py-4">
        <app-page-title titleOne="Posts" titleTwo="Categories" titleThree="Categories" buttonText="+ New category"
            icon="bi bi-person"></app-page-title>
    </div>


    <div class="row d-flex justify-content-center py-5">
        <div class="col-lg" *ngFor="let item of categories">
            <app-post-card title={{item.title}} postLength={{item.postLength}} topTitle={{item.topTitle}}
                icon={{item.img}} backgroundColor={{item.backgroundColor}} desc={{item.desc}}></app-post-card>
        </div>

    </div>
</div>