<div class="container">
    <div class="w-100 d-flex justify-content-between align-items-center">
        <div class="d-flex flex-column gap-2">
            <div class="px-3 py-3">
                <span class="badge bg-white text-primary border border-1 border-primary">Primary</span>
            </div>
            <div>
                <h1>Page Title</h1>
            </div>
            <div>
                <p class="text-muted">Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div>
            <button class="border-0">Contact Sales</button>
        </div>
    </div>
    <div class="d-flex row py-5">
            <div class="col">
                <app-pricing-card></app-pricing-card>
            </div>
            <div class="col">
                <app-pricing-card></app-pricing-card>
            </div>
            <div class="col">
                <app-pricing-card></app-pricing-card>
            </div>
    </div>

    <div>
        <div>
            <h5>FAQ</h5>
            <p class="text-muted">Lorem ipsum dolor sit.</p>
        </div>
        <div>
            <app-accordion title="lorem ipsum dolor amet" content="ijijffdojffoj"></app-accordion>
            <app-accordion title="lorem ipsum dolor amet" content="ijijffdojffojjbob"></app-accordion>
        </div>
    </div>

</div>