
<div>
  <div class="card border-0" style="width: 25rem;" class={{backgroundColor}}>
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <p class="text-muted">{{topTitle}}</p>
        <i class={{icon}} class="text-primary display-5"></i>
      </div>
      <div class="d-flex flex-column gap-3">
        <div>
          <h5 class="card-title">{{title}}</h5>
          <div *ngIf="desc">
            <span class="card-text text-muted">{{desc}}</span>
          </div>
        </div>
        <p class="text-muted">{{postLength}}</p>
      </div>
  </div>

</div>