<div class="card position-relative" style="height: 35rem">
  <div class="h-25" style="height: 25%;">
    <img src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-6.jpg" class="card-img-top h-100"
      alt="...">
  </div>
  <div class="position-absolute border border-5 border-white rounded-circle" style="top: 15%; left: 40%; width: 20%">
    <img src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-6.jpg"
      class="w-100 h-100 rounded-circle" alt="">
  </div>
  <div class="card-body d-flex flex-column text-center mt-5">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <p>Company</p>
        <p>bus company</p>
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <p>Company</p>
        <p>bus company</p>
      </div>
    </li>
    <li class="list-group-item">
      <div class="d-flex justify-content-between">
        <p>Company</p>
        <p>bus company</p>
      </div>
    </li>
  </ul>
  <div class="card-body d-flex justify-content-between">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>