<div class="container">
    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="text-center">
            <h1>Password reset</h1>
            <p>Regain access to your account and stay on top of your tasks.</p>
        </div>
        <form class="d-flex flex-column gap-3">
            <div class="form-group">
                <input name="name" type="text" class="form-control form-control-lg bg-light border-0" id="name"
                    aria-describedby="name">
            </div>
            <button class="border-0 bg-warning p-2 rounded-3">Reset password</button>
        </form>
        <div class="py-3">
            <span class="text-muted">Dont have any account yet? <span class="text-primary"
                    (click)="navigateToSignIn()">Sign
                    in.</span></span>
        </div>
    </div>
</div>