<div class="dropdown">
    <button class="btn btn-light position-relative" type="button" id="notificationDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-bell-fill"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-circle bg-warning">
            <span class="visually-hidden">unread messages</span>
        </span>
    </button>

    <ul class="dropdown-menu dropdown-menu-end end-75 border-0 shadow px-2" style="width: 330px"
        aria-labelledby="notificationDropdown">
        <div class="d-flex justify-content-between w-100 p-2 align-items-center px-0">
            <div>
                <small class="text-muted">Notifications</small>
            </div>
            <div class="d-flex">
                <div>
                    <small role="button" class="btn btn-light btn-sm">Mark all as read</small>
                </div>
                <div>
                    <i class="bi bi-gear-fill small btn btn-light btn-sm" role="button"></i>
                </div>
            </div>
        </div>
        <div>
            <app-user-action></app-user-action>
        </div>

        <div>
            <hr>
        </div>
        <div class="d-flex">
            <div class="py-2">
                <i class="bi bi-exclamation-circle-fill bg-light p-3 rounded-circle"></i>
            </div>
            <div class="d-flex flex-column py-2">
                <div>
                    <span class="fw-bold">System alert - <span class="fw-normal">Build failed</span></span>
                </div>
                <div>
                    <small class="text-muted">1 hour ago</small>
                </div>
            </div>
        </div>
    </ul>
</div>