<table class="table align-middle">
    <thead>
        <tr>
            <th scope="col"><small class="text-muted fw-normal">Name</small></th>
            <th scope="col"><small class="text-muted fw-normal">Last price (USD)</small></th>
            <th scope="col"><small class="text-muted fw-normal">Change</small></th>
            <th scope="col"><small class="text-muted fw-normal">Last 24hr</small></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of crypto">
            <td class="py-3">
                <div class="d-flex align-items-center gap-3">
                    <div>
                        <img class="rounded-circle" width="40" height="40" src={{item.icon}} alt="">
                    </div>
                    <div>
                        <strong class="fw-semibold">{{item.name}}</strong>
                    </div>
                </div>
            </td>
            <td>{{item.lastPrice}}</td>
            <td><span class="p-2 rounded-3 badge fw-normal"
                    [ngClass]="{'bg-success-subtle text-success': item.change > 0, 'bg-danger-subtle text-danger': item.change < 0}">{{item.change}}%</span>
            </td>
            <td>{{item.lastHour}}</td>
            <td><span class="bg-light p-2" role="button">Trade</span></td>
        </tr>
    </tbody>
</table>