<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column">
      <p>Performance</p>
      <h1>$20.000</h1>
    </div>
    <div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Trading Profits
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Trading Profits</a></li>
          <li><a class="dropdown-item" href="#">Staking Rewards</a></li>
          <li><a class="dropdown-item" href="#">Mining Income</a></li>
        </ul>
      </li>
    </div>
  </div>
  <div>
    <app-line-chart></app-line-chart>
  </div>
  <div class="mt">
    <div class="row mt-5 gap-5">
      <div class="col-xl-8 col-lg-8 col-md-12 border border-1 border-secondary p-3 rounded-4">
        <div class="d-flex justify-content-between">
          <p>Watchlist</p>
          <p>+ Add</p>
        </div>
        <hr>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"><small class="text-muted">Name</small></th>
              <th scope="col"><small class="text-muted">Last price (USD)</small></th>
              <th scope="col"><small class="text-muted">Change</small></th>
              <th scope="col"><small class="text-muted">Last 24hr</small></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex gap-2">
                  <div>
                    <img width="30" height="30"
                      src="https://yevgenysim-turkey.github.io/dashbrd/assets/img/crypto/btc.svg" alt="">
                  </div>
                  <div>
                    <strong class="fw-semibold">Bitcoin</strong>
                  </div>
                </div>
              </td>
              <td>621,879.81</td>
              <td>+0.53%</td>
              <td>Line</td>
              <td>Trade</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xl-3 col-md-8 border border-1 border-secondary p-3 rounded-4">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
  </div>
  <div class="row gap-5 mt">
    <div class="col-xl-8 col-lg-8 col-md-12 border border-1 border-secondary p-4 rounded-4">
      <div class="d-flex justify-content-between py-3">
        <h5>Industry News</h5>
        <p>Browse All ></p>
      </div>
      <hr>
      <div>
        <app-post-list-card></app-post-list-card>
      </div>
    </div>
    <div class="col-xl-3 col-md-8 border border-1 border-secondary rounded-4 p-3">
      <app-browse-all title="Latest Transactions"></app-browse-all>
      <app-recent-activity name={{title}} time="Oct 1"
        activity="Transaction completed on Coinbase"></app-recent-activity>
      <app-recent-activity name="Bought 1.5 BTC" time="Oct 1"
        activity="Transaction completed on Coinbase"></app-recent-activity>
      <app-recent-activity name="Bought 1.5 BTC" time="Oct 1"
        activity="Transaction completed on Coinbase"></app-recent-activity>
      <app-recent-activity name="Bought 1.5 BTC" time="Oct 1"
        activity="Transaction completed on Coinbase"></app-recent-activity>
      <app-recent-activity name="Bought 1.5 BTC" time="Oct 1"
        activity="Transaction completed on Coinbase"></app-recent-activity>
    </div>
  </div>
</div>