<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex flex-column">
      <span>Performance</span>
      <div class="d-flex gap-2 py-3">
        <h1>$20.000</h1>
        <div>
          <small class="bg-success-subtle text-success p-1 rounded-3">+12%</small>
        </div>
      </div>
    </div>
    <div>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle bg-light p-3 rounded-3" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Trading Profits
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Trading Profits</a></li>
          <li><a class="dropdown-item" href="#">Staking Rewards</a></li>
          <li><a class="dropdown-item" href="#">Mining Income</a></li>
        </ul>
      </li>
    </div>
  </div>
  <nav class="">
    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
      <button class="nav-link active text-dark" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
        type="button" role="tab" aria-controls="nav-home" aria-selected="true">Trading profits</button>
      <button class="nav-link text-dark" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
        type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Staking rewards</button>
      <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
        type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Mining income</button>
    </div>
    <hr>
  </nav>
  <div class="tab-content mt-5" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <canvas id="homeChart" height="100"></canvas>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <canvas id="profileChart" height="100"></canvas>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <canvas id="contactChart" height="100"></canvas>
    </div>
  </div>
  <div>
    <div class="row mt-5 gap-2 justify-content-center">
      <div class="col-xl-8 col-lg-8 col-md-12 border border-1 border-card p-2 rounded-3 card h-100">
        <div class="d-flex justify-content-between align-items-center card-header bg-white border-card">
          <span>Watchlist</span>
          <button type="button" class="btn btn-white" (click)="openModal()">Add +</button>
        </div>

        <div>
          <app-crypto-table></app-crypto-table>
        </div>

      </div>
      <div class="card col rounded-3">
        <div class="card-header border-card bg-white">
          <p>Portfolio</p>
        </div>
        <div class="card-body">
          <app-pie-chart></app-pie-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3 gap-2 justify-content-center">
    <div class="col-xl-8 col-lg-8 col-md-12 border border-1 border-card p-3 rounded-3 card h-100">
      <div>
        <app-browse-all title="Industry news"></app-browse-all>
      </div>
      <div class="py-3">
        <app-post-list-card listDropDownItemOne="Action" listDropDownItemTwo="Another action"
          listDropDownItemThree="Something ele here" title="Bitcoin Hits New All-Time High"
          content="Bitcoin's value surges past $70,000 amid global economic uncertainty." date="Published on September 10, 2024
        "></app-post-list-card>
        <hr>
        <app-post-list-card listDropDownItemOne="Action" listDropDownItemTwo="Another action"
          listDropDownItemThree="Something ele here" title="Bitcoin Hits New All-Time High"
          content="Bitcoin's value surges past $70,000 amid global economic uncertainty." date="Published on September 10, 2024
      "></app-post-list-card>
        <hr>
        <app-post-list-card listDropDownItemOne="Action" listDropDownItemTwo="Another action"
          listDropDownItemThree="Something ele here" title="Bitcoin Hits New All-Time High"
          content="Bitcoin's value surges past $70,000 amid global economic uncertainty." date="Published on September 10, 2024
    "></app-post-list-card>
      </div>
    </div>
    <div class="card col h-100">
      <div class="card-header border-card bg-white py-2 px-3">
        <app-browse-all title="Crypto"></app-browse-all>
      </div>
      <div *ngFor="let item of cryptoListItem">
        <app-recent-activity name={{item.name}} time={{item.date}} activity={{item.activity}}
          icon={{item.icon}}></app-recent-activity>
      </div>
    </div>
  </div>


  <!--MODAL-->

  <div id="myModal" class="modal" style="z-index: 10000;">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close border-0 bg-body" data-dismiss="modal"
            (click)="closeModal()">&times;</button>
          <h4 class="modal-title">Add crypto list</h4>
        </div>
        <div class="modal-body">
          <div class="d-flex flex-column gap-2">
            <form [formGroup]="validationForm" class="d-flex flex-column gap-3">
              <div class="form-group">
                <label for="name">Name</label>
                <input formControlName="name" type="text" [(ngModel)]="cryptoTableFormData.name" name="name"
                  class="form-control form-control-lg bg-light border-0" id="name">
              </div>
              <app-validation-error-message [control]="validationForm.get('name')"></app-validation-error-message>
              <div class="form-group">
                <label for="lastPrice">Last Price</label>
                <input formControlName="lastPrice" type="text" [(ngModel)]="cryptoTableFormData.lastPrice"
                  name="lastPrice" class="form-control form-control-lg bg-light border-0" id="lastPrice">
              </div>
              <app-validation-error-message [control]="validationForm.get('lastPrice')"></app-validation-error-message>

              <div class="form-group">
                <label for="change">Change</label>
                <input type="text" formControlName="change" [(ngModel)]="cryptoTableFormData.change" name="phone"
                  class="form-control form-control-lg bg-light border-0" id="phone">
              </div>
              <app-validation-error-message [control]="validationForm.get('change')"></app-validation-error-message>

              <div class="form-group">
                <label for="lastHour">Last Hour</label>
                <input type="text" formControlName="lastHour" [(ngModel)]="cryptoTableFormData.lastHour" name="lastHour"
                  class="form-control form-control-lg bg-light border-0" id="lastHour">
              </div>
              <app-validation-error-message [control]="validationForm.get('lastHour')"></app-validation-error-message>

              <div class="form-group">
                <label for="image">Image</label>
                <input type="file" [(ngModel)]="cryptoTableFormData.icon" formControlName="image" name="image"
                  class="form-control form-control-lg bg-light border-0" id="image">
              </div>
              <app-validation-error-message [control]="validationForm.get('image')"></app-validation-error-message>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Create</button>
        </div>
      </div>

    </div>
  </div>

  <!--MODAL END-->
</div>