<div class="w-100 row mt-5 bg-light p-3 gap-3">
    <div class="col col-lg-8 col-md-7 col-sm-12 col-12 d-flex align-items-center">
        <div *ngIf="noSelected">
            <span class="text-muted">No order selected</span>
        </div>
        <div class="d-flex gap-2" *ngIf="selectedContact">
            <div>
                <span>0 contacts selected</span>
            </div>
            <div class="vr"></div>
            <div>
                <span class="badge badge-danger text-white bg-danger">Delete</span>
            </div>
        </div>
        <div class="d-flex gap-2" *ngIf="publDrafts">
            <div *ngIf="published">
                <button class="border-0 bg-dark-sutble p-2 rounded-3">Published</button>
            </div>
            <div *ngIf="drafts">
                <button class="border-0 bg-light p-2 rounded-3">Drafts</button>
            </div>
        </div>
    </div>


    <div class="input-group col">
        <input class="form-control" id="topnavSearchInput" type="text" [formControl]="filterBoxSearchControl"
            placeholder="Search" aria-label="Search" aria-describedby="navbarSearch">
        <span class="input-group-text" id="navbarSearch">
            <i class="bi bi-search"></i>
        </span>


        <div class="d-flex gap-2 mx-2">
            <div class="dropdown">
                <button class="bi bi-filter rounded-3 bg-dark-subtle p-2 border-0 " type="button"
                    id="dropdownMenuButton" data-bs-toggle="dropdown border-0 shadow" aria-expanded="false"></button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>




            <div class="dropdown">
                <button class="bi bi-sort-alpha-down rounded-3 bg-dark-subtle p-2 border-0 " type="button"
                    id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"></button>
                <div class="dropdown-menu border-0 shadow" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item">
                        <div *ngIf="isStatus">
                            <select (change)="onStatusChange($event)">
                                <option *ngFor="let status of statuses" [value]="status">{{status}}</option>
                            </select>
                        </div>
                    </a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>


        </div>

    </div>

</div>