<div class="container">

    <div class="py-5">
        <app-page-title titleOne="Project" titleTwo="New Project" titleThree="Project" icon="bi bi-person"
            buttonText="{{'Action.SaveDraft' | translate}}"></app-page-title>
    </div>
    <form [formGroup]="validationForm">
        <div class="card">
            <div class="card-header bg-light">
                <h1>General</h1>
                <p>General information about the project.</p>
            </div>
            <div class="card-body bg-light d-flex flex-column gap-3">
                <div class="form-group d-flex flex-column gap-3">
                    <label for="title">{{'User.Title' | translate}}</label>
                    <input formControlName="title" id="title" type="text" name="title" [(ngModel)]="initialValue.title"
                        class="form-control form-control-lg bg-white border-0" id="title">
                </div>
                <app-validation-error-message [control]="validationForm.get('title')"></app-validation-error-message>

                <div class="form-group d-flex flex-column gap-3">
                    <label for="description">{{'User.Description' | translate}}</label>
                    <input formControlName="desc" id="desc" type="text" name="desc"
                        [(ngModel)]="initialValue.description" class="form-control form-control-lg bg-white border-0"
                        id="desc">
                </div>
                <app-validation-error-message [control]="validationForm.get('desc')"></app-validation-error-message>
                <div class="row">
                    <div class="form-group col-6 d-flex flex-column gap-3">
                        <label for="date">Start Date</label>
                        <input type="date" formControlName="startDate"
                            class="form-control form-control-lg bg-white border-0" id="date">
                        <app-validation-error-message
                            [control]="validationForm.get('startDate')"></app-validation-error-message>
                    </div>
                    <div class="form-group col-6 d-flex flex-column gap-3">
                        <label for="date">End Date</label>
                        <input type="date" formControlName="endDate"
                            class="form-control form-control-lg bg-white border-0" id="date">
                    </div>
                    <app-validation-error-message
                        [control]="validationForm.get('endDate')"></app-validation-error-message>
                </div>
            </div>
        </div>


        <div class="py-5">
            <div class="card">
                <div class="card-header bg-light">
                    <h1>Files</h1>
                    <p>Starting files for the project..</p>
                </div>
                <div class="card-body bg-light d-flex flex-column gap-3">
                    <div class="form-group d-flex flex-column gap-3">
                        <label for="title">Files</label>
                        <p>Attach files to this customer.</p>
                        <input type="file" class="form-control form-control-lg bg-white border-0" id="title">
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="card">
                <div class="card-header bg-light">
                    <h1>Team</h1>
                    <p>Team members working on the project.</p>
                </div>

                <div class="card-body bg-light d-flex flex-column gap-3">
                    <div class="form-group d-flex flex-column gap-3">
                        <label for="title">Team title</label>
                        <input formControlName="teamTitle" type="text"
                            class="form-control form-control-lg bg-white border-0" id="title">
                    </div>
                    <app-validation-error-message
                        [control]="validationForm.get('teamTitle')"></app-validation-error-message>

                    <div class="form-group d-flex flex-column gap-3">
                        <label for="authorName">Title</label>
                        <input formControlName="team" type="text" name="authorName"
                            [(ngModel)]="initialValue.authorName" class="form-control form-control-lg bg-white border-0"
                            id="title">
                    </div>
                    <app-validation-error-message [control]="validationForm.get('team')"></app-validation-error-message>
                </div>
            </div>
        </div>


        <div class="row gap-3 py-5">
            <button type="submit" class="btn btn-warning">Submit</button>
            <button type="reset" class="btn btn-light">Reset Form</button>
        </div>
    </form>
</div>