<div class="table-responsive">
    <table class="table table-selectable align-middle">
        <thead *ngIf="thead">
            <tr>
                <th><input type="checkbox"></th>
                <th scope="col" class="text-muted fw-normal">User</th>
                <th scope="col" class="text-muted fw-normal">Company</th>
                <th scope="col" class="text-muted fw-normal">Phone</th>
                <th scope="col" class="text-muted fw-normal">Location</th>
            </tr>
        </thead>
        <thead *ngIf="theadTwo">
            <tr>
                <th scope="col" class="text-muted fw-normal">ID</th>
                <th scope="col" class="text-muted fw-normal">Product</th>
                <th scope="col" class="text-muted fw-normal">Date</th>
                <th scope="col" class="text-muted fw-normal">Status</th>
                <th scope="col" class="text-muted fw-normal">Price</th>
            </tr>
        </thead>
        <tbody *ngIf="tbody">
            <tr *ngFor="let item of customerTableList">
                <td class="py-5">
                    <input type="checkbox" [(ngModel)]="isChecked">
                </td>
                <td class="w-25">
                    <div class="d-flex gap-3 align-items-center">
                        <div style="width: 40px; height: 40px;">
                            <img class="w-100 h-100 rounded-4" src={{item.userImage}} alt="">
                        </div>
                        <div class="d-flex flex-column">
                            <span>{{item.userName}}</span>
                            <small class="text-muted">{{item.userMail}}</small>
                        </div>
                    </div>
                </td>
                <td>{{item.company}}</td>
                <td>
                    <h6 class="text-muted">{{item.userPhone}}</h6>
                </td>
                <td>
                    <h6>{{item.userLocation}}</h6>
                </td>
            </tr>
        </tbody>

        <tbody *ngIf="tbodyTwo">
            <tr *ngFor="let item of customerDetailsList; index as i">
                <td>
                    <span>{{i+1}}</span>
                </td>
                <td>{{item.product}}</td>
                <td>
                    <span class="text-muted">{{item.date}}</span>
                </td>
                <td>
                    <app-status [status]="item.status"></app-status>
                </td>
                <td>
                    <span>{{item.price}}</span>
                </td>
            </tr>
        </tbody>
    </table>

</div>