<div class="container">
    <div class="container">
        <app-page-title titleOne="Orders" titleTwo="Invoice" titleThree="Invoice #321"
            icon='bi bi-journal-text text-primary' isBut="true" buttonText="+ New Project" buttons="true"
            buttonText="Download"></app-page-title>
    </div>

    <div class="py-5">
        <div class="card">
            <div class="d-flex justify-content-between p-4 card-body">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24"
                        class="fs-2 duo-icon duo-icon-box-2 text-primary bg-light p-3 rounded-3" data-duoicon="box-2">
                        <path fill="currentColor"
                            d="m20.765 7.982.022.19.007.194v7.268a2.5 2.5 0 0 1-1.099 2.07l-.15.095-6.295 3.634-.124.067-.126.06v-8.99l7.765-4.588Z"
                            class="duoicon-primary-layer" opacity=".3"></path>
                        <path fill="currentColor"
                            d="m13.25 2.567 6.294 3.634c.05.03.1.06.148.092L12 10.838 4.308 6.293a2.81 2.81 0 0 1 .148-.092l6.294-3.634a2.498 2.498 0 0 1 2.5 0Z"
                            class="duoicon-primary-layer"></path>
                        <path fill="currentColor"
                            d="M3.235 7.982 11 12.571v8.988a2.339 2.339 0 0 1-.25-.126l-6.294-3.634a2.502 2.502 0 0 1-1.25-2.165V8.366c0-.13.01-.258.03-.384h-.001Z"
                            class="duoicon-primary-layer" opacity=".3"></path>
                    </svg>
                </div>
                <div class="d-flex flex-column text-end">
                    <h6>Michael Johnson</h6>
                    <p>Bill No</p>
                    <p>Date</p>
                </div>
            </div>

            <div class="d-flex justify-content-between p-4">
                <div>
                    <span class="fw-bold">Form:</span>
                    <p>Quantum dynamics</p>
                </div>
                <div class="d-flex flex-column text-end">
                    <span class="fw-bold">To:</span>
                    <h6>Michael Johnson</h6>
                    <p>1234 Main St.</p>
                    <p>Springfield, IL 62701</p>
                </div>
            </div>
            <div class="p-3">
                <div class="bg-body border border-1 border-card rounded-3 p-3">
                    <div class="d-flex justify-content-between">
                        <div>
                            <span>
                                Machine Leraning</span>
                        </div>
                        <span>99.9$</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span>
                                Machine Leraning</span>
                        </div>
                        <span>99.9$</span>
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <div>
                            <span>
                                Machine Leraning</span>
                        </div>
                        <span>99.9$</span>
                    </div>
                </div>

                <div class="mt-5 card-body">
                    <h4>Notes:</h4>
                    <p>Thank you for your purchase!</p>
                    <p>Please let us know if you have any questions.</p>
                </div>
            </div>
        </div>
    </div>
</div>