<div class="d-flex justify-content-between">
    <div>
        <p>1 – 10 (2550 total)</p>
    </div>
    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination gap-1 d-flex align-items-center">
                <li class="page-item">
                    <a class="page-link border-0 text-dark" href="#">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link active border-0 rounded-2 bg-warning text-dark px-3 p-2" href="#">1</a></li>
                <li class="page-item"><a class="page-link border-0 rounded-2 bg-warning text-dark px-3 p-2" href="#">2</a></li>
                <li class="page-item"><a class="page-link border-0 rounded-2 bg-warning text-dark px-3 p-2" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link border-0 text-dark" href="#">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>