<div class="container mt-5">
    <div>
        <app-page-title titleOne="Posts" titleTwo="Posts" titleThree="Posts" buttonText="+ New post"
            icon="bi bi-chat-left-text-fill"></app-page-title>
    </div>
    <div class="mt-5">
        <div>
            <app-order-select-filter publDrafts="true" published="Published" drafts="Drafts"></app-order-select-filter>
        </div>
    </div>
    <hr>
    <div class="row py-5">
        <div class="col-lg">
            <app-post-list-card title="Exploring JavaScript ES6 Features"
                content="A comprehensive guide on the new features introduced in ES6, including arrow functions, template literals, and classes."
                date="Published on September 12, 2024" listDropDownItemOne="Action" listDropDownItemTwo="Another action"
                listDropDownItemThree="Something else here"
                img="https://yevgenysim-turkey.github.io/dashbrd/assets/img/projects/project-1.png"
                image="true"></app-post-list-card>
            <hr>
            <app-post-list-card title="Exploring JavaScript ES6 Features"
                content="A comprehensive guide on the new features introduced in ES6, including arrow functions, template literals, and classes."
                date="Published on September 12, 2024" listDropDownItemOne="Action" listDropDownItemTwo="Another action"
                listDropDownItemThree="Something else here"
                img="https://yevgenysim-turkey.github.io/dashbrd/assets/img/projects/project-1.png"
                image="false"></app-post-list-card>
            <hr>
            <app-post-list-card title="Exploring JavaScript ES6 Features"
                content="A comprehensive guide on the new features introduced in ES6, including arrow functions, template literals, and classes."
                date="Published on September 12, 2024" listDropDownItemOne="Action" listDropDownItemTwo="Another action"
                listDropDownItemThree="Something else here"
                img="https://yevgenysim-turkey.github.io/dashbrd/assets/img/projects/project-1.png"
                image="true"></app-post-list-card>
        </div>
        <div class="col-auto">
            <h5>Top Authors</h5>
            <app-top-authors image="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-1.jpg"
                firstName="Emily Thompson" mail="emily.thompson@example.com"></app-top-authors>
            <app-top-authors image="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-2.jpg"
                firstName="Michael Johnson" mail="michael.johnson@example.com"></app-top-authors>
            <app-top-authors image="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-3.jpg"
                firstName="Robert Garcia" mail="robert.garcia@example.com"></app-top-authors>
            <app-top-authors image="https://yevgenysim-turkey.github.io/dashbrd/assets/img/photos/photo-4.jpg"
                firstName="Jessica Miller" mail="jessica.Miller@example.com"></app-top-authors>
        </div>
    </div>
</div>