<div class="table-responsive">
    <table class="table table-selectable align-middle">
        <thead>
            <tr>
                <th scope="col" class="text-muted">Title</th>
                <th scope="col" class="text-muted">Status</th>
                <th scope="col" class="text-muted">Author</th>
                <th scope="col" class="text-muted">Team</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of defaultTableList">
                <td>
                    <div class="d-flex gap-2">
                        <div class="img">
                            <img class="w-100 h-100 rounded-circle" src={{item.img}} alt="">
                        </div>
                        <div>
                            <h6>{{item.title}}</h6>
                            <p class="text-muted">{{item.description}}</p>
                        </div>
                    </div>
                </td>
                <td><span id="status">{{item.status}}</span></td>
                <td>
                    <div class="d-flex gap-2">
                        <div class="img2">
                            <img class="w-100 h-100 rounded-circle w-25 h-25" src={{item.img}} alt="">
                        </div>
                        <div class="d-flex">
                            <h6>{{item.authorName}}</h6>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="img2 d-flex">
                        <img class="w-100 h-100 rounded-circle"  alt="">
                        <!-- <img class="w-100 h-100 rounded-circle" src={{item.team[1]}} alt="">
                        <img class="w-100 h-100 rounded-circle" src={{item.team[2]}} alt=""> -->


                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>