<div class="table-responsive">
    <table class="table table-selectable align-middle">
        <thead>
            <tr>
                <th scope="col" class="text-muted fw-normal small">Title</th>
                <th scope="col" class="text-muted fw-normal small">Status</th>
                <th scope="col" class="text-muted fw-normal small">Author</th>
                <th scope="col" class="text-muted fw-normal small">Team</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of defaultTableList">
                <td class="py-3">
                    <div class="d-flex gap-3 align-items-center">
                        <div class="img">
                            <img class="w-100 h-100 rounded-circle" src={{item.img}} alt="">
                        </div>
                        <div class="d-flex flex-column">
                            <small class="fw-semibold">{{item.title}}</small>
                            <small class="text-muted">{{item.description}}</small>
                        </div>
                    </div>
                </td>
                <td><span id="status" class="bg-success-subtle text-success p-1 rounded-3 badge fw-normal">{{item.status}}</span></td>
                <td>
                    <div class="d-flex gap-2">
                        <div class="img2">
                            <img class="w-100 h-100 rounded-circle w-25 h-25" src={{item.author}} alt="">
                        </div>
                        <div class="d-flex">
                            <h6 class="fw-normal">{{item.authorName}}</h6>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="img2 d-flex">
                        <img class="w-100 h-100 rounded-circle" alt="" src={{item.team}}>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>

</div>