.mt {
    margin-top: 100px;
}

.shadow {
    box-shadow: 4px -19px 63px 74px rgba(0,0,0,1);
-webkit-box-shadow: 4px -19px 63px 74px rgba(0,0,0,1);
-moz-box-shadow: 4px -19px 63px 74px rgba(0,0,0,1);
}